<form class="input-form" name="newCrewForm" action="/crews/{{crewId}}/add" method="post">
  <label for="memberId">Id</label>
  <input class="input-text" type="text" name="memberId" id="memberId">
  <button type="submit">Add member</button>
</form>
<div id="responseMessage"></div>
