<form class="inputForm" name="addMemberForm" action="/crews/{{crewId}}/add" method="post">
  <label for="memberId">Id</label>
  <input class="inputText" type="text" name="memberId" id="memberId">
  <button type="submit">Add member</button>
</form>
<div id="responseMessage"></div>
