<form class="input-form" name="editForm" action="/edit">
  <label for="email">E-mail</label>
  <input class="input-text" type="email" name="email" id="email" value="{{email}}">
  <label for="name">Name</label>
  <input class="input-text" type="text" name="name" id="name" value="{{name}}">
  <button type="submit">Apply</button>
</form>
<div id="responseMessage"></div>

