<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="/js/clientRegistration.js"></script>
  <script defer src="/js/clientLogin.js"></script>
  <script defer src="/js/clientEditProfile.js"></script>
  <script defer src="/js/clientAddMember.js"></script>
  <script defer src="/js/clientWishlist.js"></script>
  {{#if room}}
  <script src="/socket.io/socket.io.js"></script>
  <script defer src="/js/clientRoom.js"></script>
  {{/if}}
  <link href="/css/style.css" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <nav>
  {{#if user}}
    <form action="/crews" class="crewsButton">
      <button type="submit">Crews</button>
    </form>
  {{/if}}
  {{#if crewsPage}}
    <form action="/crews/new" class="newCrewButton">
      <button type="submit">Add crew</button>
    </form>  
  {{/if}}
  {{#if addMemberPage}}
  <form action="/crews/{{crewId}}" class="backToCrewButton">
    <button type="submit">Back to crew</button>
  </form>  
  {{/if}}
  {{#if membersPage}}
    <form action="/crews/{{crewId}}/add" class="addMemberButton">
      <button type="submit">Add member</button>
    </form>  
  {{/if}}
  {{#if user}}
    <form action="/profile" class="profileButton">
      <button type="submit">Profile</button>
    </form>  
    <form action="/logout" class="signOutButton">
      <button type="submit">Sign-Out</button>
    </form> 
  {{/if}}
  </nav>
  <div class="body">
    {{{body}}}
  </div>
</body>
</html>
