<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="/js/clientRegistration.js"></script>
  <script defer src="/js/clientLogin.js"></script>
  <script defer src="/js/clientEditProfile.js"></script>
    <script defer src="/js/clientWishlist.js"></script>
  {{#if room}}
  <script src="/socket.io/socket.io.js"></script>
  <script defer src="/js/clientRoom.js"></script>
  {{/if}}
  <link href="/css/style.css" rel="stylesheet">
  <title>Document</title>
</head>
<body class="flex flex-col h-screen m-2">
  <nav class="flex justify-start flex-1">
  {{#if user}}
    <form action="/" class="ml-10 sm:ml-20 md:ml-40 lg:ml-60 2xl:ml-80">
      <button type="submit">Home</button>
    </form>
  {{/if}}
  {{#if membersPage}}
    <form action="/crews/{{crewId}}/add" class="ml-auto mr-auto">
      <button type="submit">Add member</button>
    </form>  
  {{/if}}
  {{#if user}}
    <form action="/profile" class="ml-auto">
      <button type="submit">Profile</button>
    </form>  
    <form action="/logout" class="mr-10 sm:mr-20 md:mr-40 lg:mr-60 2xl:mr-80">
      <button type="submit">Sign-Out</button>
    </form> 
  {{/if}}
  </nav>
  <div class="  h-5/6  ">
    {{{body}}}
  </div>
</body>
</html>
