<form class="inputForm" name="loginForm" action="/login" method="post">
  <label for="email">E-mail</label>
  <input class="inputText" type="email" name="email" id="email">
  <label for="password">Password</label>
  <input class="inputText" type="password" name="password" id="password">
  <button type="submit">Sign-In</button>
  <div class="responseMessage" id="responseMessage"></div>
</form>

