<form class="input=form" action="/cards/new" method="post">
  <label for="name">Name</label>
  <input class="input-text" type="text" name="name" id="name">
  <label for="state">Condition</label>
  <input class="input-text" type="text" name="state" id="state">
  <label for="description">Description</label>
  <input class="input-text" type="text" name="description" id="description">
  <button type="submit">Add new card</button>
</form>  
