<form class="input-form" name="newCrewForm" action="/crews/new" method="post">
  <label for="name">Name</label>
  <input class="input-text" type="text" name="name" id="name">
  <label for="member">Add member</label>
  <input class="input-text" type="text" name="member" id="member">
  <button type="submit">Create</button>
</form>
<div id="responseMessage"></div>
