<div class="bigButtons">
  <div class="profileText">Your id is {{user}}</div>
  <form action="/edit">
    <button type="submit">Edit profile</button>
  </form>  
  <form action="/wishlist">
    <button type="submit">Wish list</button>
  </form>  
</div>
