<form action="/edit">
  <button type="submit">Edit profile</button>
</form>  
<form action="/cards">
  <button type="submit">My cards</button>
</form>  
<form action="/cards/new">
  <button type="submit">Add new card</button>
</form>  
