<div class="bigButtons">
  <div class="profileText">
    <div>
      Your id is {{user}}
    </div>
    <form action="http://t.me/crewGifterBot">
      <button type="submit">Connect Telegram</button> 
    </form>
  </div>
  <form action="/wishlist">
    <button type="submit">Wish list</button>
  </form>  
  <form action="/edit">
    <button type="submit">Edit profile</button>
  </form>  
</div>
