<form class="input-form" name="registrationForm" action="/registration" method="post">
  <label for="email">E-mail</label>
  <input class="input-text" type="email" name="email" id="email">
  <label for="password">Password</label>
  <input class="input-text" type="password" name="password" id="password">
  <label for="repeatPassword">Repeat password</label>
  <input class="input-text" type="password" name="repeatPassword" id="passrepeatPasswordword">
  <label for="name">Name</label>
  <input class="input-text" type="text" name="name" id="name">
  <button type="submit">Sign-Up</button>
</form>
<div id="responseMessage"></div>
