<form class="inputForm" name="registrationForm" action="/registration" method="post">
  <label for="email">E-mail</label>
  <input class="inputText" type="email" name="email" id="email">
  <label for="password">Password</label>
  <input class="inputText" type="password" name="password" id="password">
  <label for="repeatPassword">Repeat password</label>
  <input class="inputText" type="password" name="repeatPassword" id="passrepeatPasswordword">
  <label for="name">Name</label>
  <input class="inputText" type="text" name="name" id="name">
  <button type="submit">Sign-Up</button>
  <div class="responseMessage" id="responseMessage"></div>
</form>

