<div class="wishlistPage">
  <form name="newWishForm" class="inputForm mt-0">
    <label for="wish">New wish</label>
    <input class="inputText" type="text" name="wish" id="wish">
    <button type="submit">Add new wish</button>
    <div id="responseMessage"></div>
  </form>

  <ul class="wishList">
    {{#each wishes }}
        <li id="wish-{{this.id}}">
          <div class="wishText">{{this.wish}}</div>
          <button type="submit" data-wish_id="{{this.id}}" class="deleteWishButton">Delete</button>
        </li>
    {{/each}}
  </ul>
</div>
